{% extends 'movie/base.html' %}
{% block title%} CM | Search {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h2 class="text-center text-success">What Am I?</h2>
    <p class="text-center" style="font-size:1.3em; font-weight: 500">A search Engine.. Search a movie and enjoy...!!!</p>

    <form class="form-horizontal" action="{% url 'movie:search_movie' %}" method="post" style="margin-top:60px">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-sm-11">
          <input type="text" class="form-control input-lg" name="query" placeholder="search a movie..">
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-default btn-lg btn-success">Search</button>
        </div>
      </div>
    </form>
    {% if error_message %}
      <p class="text-center text-danger" style="font-size:1.2em;">{{error_message}}</p>
    {% endif %}

  </div>
  <div class="col-sm-3"></div>
</div>
{% endblock %}
